/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 gmp-map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgb(33, 37, 41)
    
  }


  /* .card  {
    box-shadow:   0px 5px lightgrey;
    border: 1px solid grey;
    background-color: hsl(120, 56%, 26%);
    color: white;
  } */


  ul  {
    list-style-type: none;
  }

  .custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: black;
    --bs-popover-border-width: 1px;
    --bs-popover-header-bg: lightgrey;
    --bs-popover-header-color: black;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }

  .navbar  {
    background-color: rgb(192, 192, 192);
  }

  #nav-div{
    background-color: rgb(192, 192, 192);
  }