{%extends 'base.html'%}

{%block title%}
{{pack.name}}
{%endblock%}
{%block content %}


<h1>Pack Contents</h1>

{% for item in pack_items %}
<ul>

    <li id="{{item.name}}">{{item.name}}</li>
</ul>
{% endfor%}
<hr>

<form action="/trips/{{trip.id}}/{{pack.id}}/check/edit" method="POST">
    <div class="item-section">

        <div class="essential-section">

            {% if essential_items %}
            <p>PLACEHOLDER >> ADD ESSENTIAL ITEMS</p>

            <div>
                {% for ess_item in essential_items%}
                {% if ess_item.name not in pack_item_names %}


                <li class="fw-5 fs-5 list-group-item">
                    <input class="form-check-input me-1" name="pack-items" type="checkbox"
                        id="item-{{ess_item.id}}-checkbox" value="{{ess_item.name}}"></input>
                    <label class="form-check-label" for="{{ess_item.id}}-checkbox">{{ess_item.name}}</label>
                </li>

                {% endif %}
                {% endfor %}
                {% endif %}
                <button id="essential-items-button" class="btn btn-secondary">Next</button>

            </div>
        </div>

        <div class="heat-section hidden">

            {% if heat_items is none %}
            <p>Looks like it's going to be a toasty trip! Let's make sure you're pack has what it needs</p>

            <div>
                {% for heat_item in heat_items%}

                {% if heat_item.name not in pack_item_names %}

                <li class="fw-5 fs-5 list-group-item">
                    <input class="form-check-input me-1" name="pack-items" type="checkbox"
                        id="item-{{heat_item.id}}-checkbox" value="{{heat_item.name}}"></input>
                    <label class="form-check-label" for="{{heat_item.id}}-checkbox">{{heat_item.name}}</label>
                </li>

                {% endif %}
                {% endfor %}
                {% endif %}
                <button id="heat-items-button" class="btn btn-secondary">Next</button>

            </div>
        </div>


        {% if cold_items %}
        <div class="cold-section hidden">
            <p>It looks like your trip is going to be chilly. Let's make sure you have what you need</p>
            <div>
                {% for cold_item in cold_items%}
                {% if cold_item.name not in pack_item_names %}

                <li class="fw-5 fs-5 list-group-item">
                    <input class="form-check-input me-1" name="pack-items" type="checkbox"
                        id="item-{{cold_item.id}}-checkbox" value="{{cold_item.name}}"></input>
                    <label class="form-check-label" for="{{cold_item.id}}-checkbox">{{cold_item.name}}</label>
                </li>

                {% endif %}
                {% endfor %}
                {% endif %}
                <button id="cold-items-button" class="btn btn-secondary">Next</button>

            </div>
        </div>


        {% if rain_items %}

        <div class="rain-section hidden">
            <p>It looks like you may get rained on a bit. Let's make sure you have some rain gear</p>
            <div>
                {% for rain_item in rain_items%}
                {% if rain_item.name not in pack_item_names %}

                <li class="fw-5 fs-5 list-group-item">
                    <input class="form-check-input me-1" name="pack-items" type="checkbox"
                        id="item-{{rain_item.id}}-checkbox" value="{{rain_item.name}}"></input>
                    <label class="form-check-label" for="{{rain_item.id}}-checkbox">{{rain_item.name}}</label>
                </li>

                {% endif %}
                {% endfor %}
                {% endif %}
                <button id="rain-items-button" class="btn btn-secondary">Next</button>

            </div>
        </div>
    </div>

    {% if emergency_items %}

    <div class="emergency-section hidden">
        <p>PLACEHOLDER >> ADD emergency ITEMS</p>
        <div>
            {% for emergency_item in emergency_items%}
            {% if emergency_item.name not in pack_item_names %}

            <li class="fw-5 fs-5 list-group-item">
                <input class="form-check-input me-1" name="pack-items" type="checkbox"
                    id="item-{{emergency_item.id}}-checkbox" value="{{emergency_item.name}}"></input>
                <label class="form-check-label" for="{{emergency_item.id}}-checkbox">{{emergency_item.name}}</label>
            </li>

            {% endif %}
            {% endfor %}
            {% endif %}
            <button id="emergency-items-button" class="btn btn-secondary">Next</button>

        </div>
    </div>

    <button type="submit" class="btn btn-success">Update Pack</button>
</form>

<form action="/packs/{{pack.id}}/delete" method="POST">
    <button type="submit">Remove Pack</button>
</form>

<script src="../../static/functionalities/pack/check-pack.js"></script>

{%endblock%}