{%extends 'base.html'%}

{%block title%}
{{trip.name}}
{%endblock%}
{%block content %}
<div>

    <h1>{{trip.name}}</h1>
    <div>
        
        <p>
            {{trip.location}}
            
        </p>
        <p>
            {{trip.start_date}}
        </p>
        <p>
            {{trip.end_date}}
        </p>
        <p>
            {{trip.mileage}}
        </p>
        <p>
            {{trip.notes}}
        </p>
    </div>
</div>
    
    <a class="btn btn-secondary" href="/trips">Show All Trips</a>

<form action="/trips/{{trip.id}}/delete" method="POST">
    <button class="btn btn-danger"type="submit">Remove Trip</button>
</form>

<hr>

<h3>Trip Pack</h3>
{%if trip_packs%}

{%for pack in trip_packs%}
    <div class="col">

        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <h5 class="card-title">{{pack.name}}</h5>
                <p class="card-text">{{pack.description}}</p>
                <form action="/trips/{{trip.id}}/{{pack.id}}" method="POST">

                    <a href="/packs/{{pack.id}}" class="btn btn-secondary">View Pack</a>
                    <button type="submit" class="btn btn-primary">Add Pack</button>
                </form>
            </div>
        </div>
    </div>
        {%endfor%}

{%endif%}

{%if not trip_packs%}
<p>You do not have a pack picked for this trip yet!</p>

<p>Pick An Existing Pack</p>
<div class="container">


<div class="row row-cols-3">

    {%for pack in packs%}
    <div class="col">

        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <h5 class="card-title">{{pack.name}}</h5>
                <p class="card-text">{{pack.description}}</p>
                <form action="/trips/{{trip.id}}/{{pack.id}}" method="POST">

                    <a href="/packs/{{pack.id}}" class="btn btn-secondary">View Pack</a>
                    <button type="submit" class="btn btn-primary">Add Pack</button>
                </form>
            </div>
        </div>
    </div>
        {%endfor%}
</div>
</div>    
<hr>

    <a class="btn btn-primary" href="">Create New Pack</a>

{%endif%}

{%endblock%}
