{% extends 'base.html'%}
{% block title%}
Create Item
{% endblock %}

{% block content%}
<div class="mx-5">
    <h1 class="mx-auto mb-5">Edit Item Form</h1>

    <div class="card text-bg-dark w-100 p-5">

        <h3 class="">Item Information</h3>
        <form action="/items/{{item.id}}/edit" method="POST" class="row g-3" id="item-form">
            {{form.hidden_tag()}}
            {%for field in form if field.widget.input_type != 'hidden'%}
            
            
            <div id="{{field.name}}-div" class="form-div">
                {{field.label(class="form-label", id=field.name)}}
                {{field(class="form-control" )}}
            </div>
            
            
            {%endfor%}
            <div>
                <button class="btn btn-secondary w-25 mt-3" type="submit" id="create-pack-button">Add New
                    Item</button>
                </div>
                
            </form>
        </div>
    </div>

<script src="../../static/functionalities/item/edit-item.js"></script>

{% endblock %}