{% extends 'base.html'%}

{% block title %}
Packlist
{% endblock %}

{% block content %}

<div class="text-bg-secondary h-75 pt-5">

    <div class="container text-center pt-5 mw-100 " style="width: 200%;">
        
        <div class="row">
            <div class="col-6 p-3 gs-4">
                <h1 class="text-decoration-underline">Dashboard</h1>
                <div class="container w-75">

                    <p class="fs-4 text-wrap">Track your backpacking stats with a personalized user dashboard</p>
                </div>
            </div>
            <div class="col-6 p-3 gs-4">
                <h1 class="text-decoration-underline">Trips</h1>
                <div class="container w-75">
                    <p class="fs-4 text-wrap">Keep track of your trips with live weather updates days before your trip</p>

                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-6 p-3 gs-4">
                
                <h1 class="text-decoration-underline">Packs</h1>
                <div class="container w-75">
                    <p class="fs-4 text-wrap">Create customizable packs for different types of trips and use the site as a checklist to make sure you have everything you need before taking off</p>

                </div>
            </div>
            <div class="col-6 p-3 gs-4">
                
                <h1 class="text-decoration-underline">Items</h1>
                <div class="container w-75">

                    <p class="fs-4 text-wrap">Select from a comprehensive list of backpacking gear and items or choose to add your own personal items </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}